<nav>
    <section class="pre_nav">
        <div>
            <h1 style="font-family: Lineage2;">Genesis</h1>
        </div>
        <div>
            <p>vote us on:
            </p>
        </div>
    </section>
    <section class="navigation">
        <div>
            <button class="buttonInstall">Install Lineage II Genesis <i class="fa-brands fa-windows"></i></button>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Features</li>
                <li>Store</li>
                <li>Download</li>
                <li>Community</li>
            </ul>
        </div>
        <div>
            <button>My account</button>
        </div>
    </section>
</nav>