nav {
    display: flex;
    flex-direction: column;
}

.pre_nav {
    width: 100%;
    background-color: rgb(33, 32, 32);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pre_nav::before {
    content: "";
    display: block;
    position: absolute;
    top: -49px;
    left: 0px;
    border-bottom: 50px solid rgb(59, 59, 59);
    border-right: 50px solid transparent;
    height: 50px;
    width: 50px;
}

.pre_nav::after {
    content: "";
    display: block;
    position: absolute;
    top: -49px;
    right: 0px;
    border-bottom: 50px solid rgb(59, 59, 59);
    border-left: 50px solid transparent;
    height: 50px;
    width: 50px;
}

.navigation {

    display: flex;
    background-color: rgb(59, 59, 59);
    justify-content: space-around;
    align-items: center;
}


.navigation div {
    padding: 5px;
}
.navigation ul {
    list-style: none;
    padding: 0;
}
.navigation ul li {
    
    display: inline-block;
    padding: 5px;
    font-family: "Black Future";
    color: white;
}

.navigation ul li:hover {
    cursor: pointer;
}

.buttonInstall {
    padding: 5px;
    border: none;
    background-color: rgb(175, 175, 29);
    font-size: 12px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: inline-flex;
    font-weight: 700;
    letter-spacing: 1px;
    height: 27px;
}

.buttonInstall i {
    font-size: 14px;
    margin-left: 3px;
    margin-top: 2px;
}